////
// Grid
//
// Grid config and setup
////

$grid_args:(
    config: (
        gridclass:           'g',
        itemclass:           'gi--',
        pushclass:           'p--',
        debug:               false,
        push:                true
    ),
    grids: (
        small: (
            columns:         12,
            suffix:          null,
            gutter:          12px,
            debug_name:      'Small',
            debug_bg:        #eac11f,
        ),
        medium: (
            columns:        12,
            suffix:         '--m',
            breakpoint_min: 800px,
            breakpoint_max: null,
            gutter:         24px,
            debug_name:     'Medium',
            debug_bg:       #0c9c2e,
        ),
        large: (
            columns:        12,
            suffix:         '--l',
            breakpoint_min: 1100px,
            breakpoint_max: null,
            gutter:         24px,
            debug_name:     'Large',
            debug_bg:       #1a4cf1,
        )
    )
);

// Instantiate Gritacular grid
// using the above options
@include grid_generate($grid_args);