////
// Height
// 
// Some generic height classes, this is pretty experimental
// it will likely change or be deleted moving forward
// 
// Class prefix for height = .h
////

$h10: 10%;
$h20: 20%;
$h25: 25%;
$h30: 30%;
$h40: 40%;
$h50: 50%;
$h60: 60%;
$h70: 70%;
$h75: 75%;
$h80: 80%;
$h90: 90%;
$h100: 100%;

@mixin height_percentage($bp: null){
    // Margin
    .h10#{$bp}{ height: $h10; }
    .h20#{$bp}{ height: $h20; }
    .h25#{$bp}{ height: $h25; }
    .h30#{$bp}{ height: $h30; }
    .h40#{$bp}{ height: $h40; }
    .h50#{$bp}{ height: $h50; }
    .h60#{$bp}{ height: $h60; }
    .h70#{$bp}{ height: $h70; }
    .h75#{$bp}{ height: $h75; }
    .h80#{$bp}{ height: $h80; }
    .h90#{$bp}{ height: $h90; }
    .h100#{$bp}{ height: $h100; }
}

@include height_percentage();

@include bp($m){
    @include height_percentage(-m);
}

@include bp($l){
    @include height_percentage(-l);
}