////
// Height
// 
// Some generic height classes, this is pretty experimental
// it will likely change or be deleted moving forward.
// - Note: there is no clear scale right now just some guesses as to what looks OK
// 
// Class prefix for height = .h
////

@mixin height($bp: null){
    .h1#{$bp}{ height: rem(24); }
    .h2#{$bp}{ height: rem(48); }
    .h3#{$bp}{ height: rem(96); }
    .h4#{$bp}{ height: rem(120); }
    .h5#{$bp}{ height: rem(240); }
    .h6#{$bp}{ height: rem(360); }
    // full height of relative container
    .h-full#{$bp}{ height: 100%; }
}