////
// Media Queries
// 
// Fission routes all of its rules through this single
// file to control which mixins are handled responsively.
////

////
// Breakpoint definititions
////

$s: null null;
$m: 800px null;
$l: 1000px null;

////
// Global rules
// 
// based on the mobile first approach
// the following rules apply to *ALL*
// screen sizes but over overridable by suffixed
// versions below that respond to media queries

@include background_position(); 
@include background_repeat();
@include background_size();
@include borders();
@include border_radius();
@include border_style();
@include border_width();
@include colors();
@include tints();
@include display();
@include flexbox();
@include hover();
@include links();
@include position();
@include height();
@include width();
@include margin();
@include padding();
@include text_decoration();
@include font_family();
@include line_height();
@include lists();
@include font_size();
@include text_transform();
@include font_weight();

////
// Medium Screen Size
// 
// Suffix = '-m'
////

@include bp($m){
    @include background_position(-m); 
    @include background_repeat(-m);
    @include background_size(-m);
    @include borders(-m);
    @include border_radius(-m);
    @include border_style(-m);
    @include border_width(-m);
    @include colors(-m);
    @include tints(-m);
    @include display(-m);
    @include flexbox(-m);
    @include hover(-m);
    @include links(-m);
    @include position(-m);
    @include height(-m);
    @include width(-m);
    @include margin(-m);
    @include padding(-m);
    @include text_decoration(-m);
    @include font_family(-m);
    @include line_height(-m);
    @include lists(-m);
    @include font_size(-m);
    @include text_transform(-m);
    @include font_weight(-m);
}

////
// Large Screen Size
// 
// Suffix = '-l'
////

@include bp($l){
    @include background_position(-l); 
    @include background_repeat(-l);
    @include background_size(-l);
    @include borders(-l);
    @include border_radius(-l);
    @include border_style(-l);
    @include border_width(-l);
    @include colors(-l);
    @include tints(-l);
    @include display(-l);
    @include flexbox(-l);
    @include hover(-l);
    @include links(-l);
    @include position(-l);
    @include height(-l);
    @include width(-l);
    @include margin(-l);
    @include padding(-l);
    @include text_decoration(-l);
    @include font_family(-l);
    @include line_height(-l);
    @include lists(-l);
    @include font_size(-l);
    @include text_transform(-l);
    @include font_weight(-l);
}