////
// Position
////

@mixin position($bp: null){
    .pos-st#{$bp}{ position: static; }
    .pos-rel#{$bp}{ position: relative; }
    .pos-abs#{$bp}{ position: absolute; }
    .pos-fxd#{$bp}{ position: fixed; }
}