////
// Font Sizes
////

$font_size_1: 6.8rem; // biggest
$font_size_2: 4.8rem;
$font_size_3: 3.5rem;
$font_size_4: 2.5rem;
$font_size_5: 2rem;
$font_size_6: 1.5rem;
$font_size_7: 1rem;
$font_size_8: 0.875rem; // smallest

@mixin font_size($bp: null){
    .fs1#{$bp}{ font-size: $font_size_1; }
    .fs2#{$bp}{ font-size: $font_size_2; }
    .fs3#{$bp}{ font-size: $font_size_3; }
    .fs4#{$bp}{ font-size: $font_size_4; }
    .fs5#{$bp}{ font-size: $font_size_5; }
    .fs6#{$bp}{ font-size: $font_size_6; }
    .fs7#{$bp}{ font-size: $font_size_7; }
    .fs8#{$bp}{ font-size: $font_size_8; }
}

// Load the Margin Mixin
@include font_size();

// Load the Margin Mixin at the medium media query breakpoint
@include bp($m){
    @include font_size(-m);
}

// Load the Margin Mixin at the large media query breakpoint
@include bp($l){
    @include font_size(-l);
}