////
// Background Position
// 
// Class prefix for background position = .bgp-
// 
////

@mixin background_position($bp: null){
    .bgp-lt#{$bp}{ background-position: left top; }
    .bgp-lc{ background-position: left center; }
    .bgp-lb{ background-position: left bottom; }
    .bgp-rt{ background-position: right top; }
    .bgp-rc{ background-position: right center; }
    .bgp-rb{ background-position: right bottom; }
    .bgp-ct{ background-position: center top; }
    .bgp-cc{ background-position: center center; }
    .bgp-cb{ background-position: center bottom; }
}

@include background_position(); 

@include bp($m){
    @include background_position(-m); 
}

@include bp($l){
    @include background_position(-l); 
}