////
// Background Position
// 
// Class prefix for background position = .bgp-
// 
////

@mixin background_position($bp: null){
    .bgp-lt#{$bp}{ background-position: left top; }
    .bgp-lc#{$bp}{ background-position: left center; }
    .bgp-lb#{$bp}{ background-position: left bottom; }
    .bgp-rt#{$bp}{ background-position: right top; }
    .bgp-rc#{$bp}{ background-position: right center; }
    .bgp-rb#{$bp}{ background-position: right bottom; }
    .bgp-ct#{$bp}{ background-position: center top; }
    .bgp-cc#{$bp}{ background-position: center center; }
    .bgp-cb#{$bp}{ background-position: center bottom; }
}