////
// Background Repeat
// 
// Class prefix for position = .bgr
// 
// - 
////

@mixin background_repeat($bp: null){
    .bgr-r#{$bp}{ background-repeat: repeat; }
    .bgr-nr#{$bp}{ background-repeat: no-repeat; }
    .bgr-x#{$bp}{ background-repeat: repeat-x; }
    .bgr-y#{$bp}{ background-repeat: repeat-y; }
}