////
// Background Size
// 
// Class prefix for size = .bgs
// 
// - 
////

@mixin background_size($bp: null){
    .bgs-a#{$bp}{ background-size: auto; }
    .bgs-cv#{$bp}{ background-size: cover; }
    .bgs-c#{$bp}{ background-size: contain; }
}