////
// Text Decoration
////

@mixin text_decoration($bp: null){
    .td-none#{$bp}{ text-decoration: none; }
    .td-underline#{$bp}{ text-decoration: underline; }
    .td-overline#{$bp}{ text-decoration: overline; }
    .td-strike#{$bp}{ text-decoration: line-through; }
}