////
// Font-family
// 
// All font-family declarations
////

@mixin font_family($bp: null){
    .ff-mono#{$bp}{ font-family: 'Space Mono', monospace; }
    .ff-serif#{$bp}{ font-family: 'Cormorant Garamond', serif; }
    .ff-sans#{$bp}{ font-family: 'Lato', sans-serif; }
}
