////
// Font-family
// 
// All font-family declarations
////

.ff-mono{ font-family: 'Space Mono', monospace; }
.ff-serif{ font-family: 'Cormorant Garamond', serif; }
.ff-sans{ font-family: 'Lato', sans-serif; }