////
// Font Sizes
////

@mixin font_size($bp: null){
    .fs8#{$bp}{ font-size: rem(68); }
    .fs7#{$bp}{ font-size: rem(48); }
    .fs6#{$bp}{ font-size: rem(35); }
    .fs5#{$bp}{ font-size: rem(25); }
    .fs4#{$bp}{ font-size: rem(20); }
    .fs3#{$bp}{ font-size: rem(15); }
    .fs2#{$bp}{ font-size: rem(12); }
    .fs1#{$bp}{ font-size: rem(8); }
}

// Load the Margin Mixin
@include font_size();

// Load the Margin Mixin at the medium media query breakpoint
@include bp($m){
    @include font_size(-m);
}

// Load the Margin Mixin at the large media query breakpoint
@include bp($l){
    @include font_size(-l);
}