////
// Text Transforms
////

@mixin text_transform($bp: null){
    .tt-none{ text-transform: none; }
    .tt-caps{ text-transform: capitalize; }
    .tt-upper{ text-transform: uppercase; }
    .tt-lower{ text-transform: lowercase; }
}