////
// Font Weights
////

@mixin font_weight($bp: null){
    .fw-l#{$bp}{ font-weight: 300; }
    .fw-m#{$bp}{ font-weight: 400; }
    .fw-sb#{$bp}{ font-weight: 500; }
    .fw-b#{$bp}{ font-weight: 600; } 
}
