////
// Display
// 
// Display attributes are defined here
////

@mixin display($bp: null){
    .d-in#{$bp: null}{ display: inline; }
    .d-b#{$bp: null}{ display: block; }
    .d-inb#{$bp: null}{ display: inline-block; }
    .d-t#{$bp: null}{ display: table; }
    .d-tc#{$bp: null}{ display: table-cell; }
}

// flex property has its own file