////
// Display
// 
// Display attributes are defined here
////

.d-in{ display: inline; }
.d-b{ display: block; }
.d-inb{ display: inline-block; }
.d-t{ display: table; }
.d-tc{ display: table-cell; }

// flex property has its own file