////
// Flexbox
// 
// Layout made easier(ish) with Flexbox
////

@mixin flexbox($bp: null){
    // Flex 
    .fl#{$bp}{ display: flex; }
    .fl-init#{$bp}{ flex: 0 1 auto; } // same as flex: initial
    .fl-none#{$bp}{ flex: 0 0 auto; } //items sized according to width/height but inflexible.

    // Direction
    .fl-row#{$bp}{ flex-direction: row; }
    .fl-col#{$bp}{ flex-direction: column; }

    // Wrapping
    .fl-wrap#{$bp}{ flex-wrap: wrap; }
    .fl-nowrap#{$bp}{ flex-wrap: nowrap; }
    .fl-wrapreverse#{$bp}{ flex-wrap: wrap-reverse; } // class name is a bit long here

    // Child Item Alignment
    .fl-start#{$bp}{ align-items: flex-start; }
    .fl-end#{$bp}{ align-items: flex-end; }
    .fl-center#{$bp}{ align-items: center; }
    .fl-baseline#{$bp}{ align-items: baseline; }
    .fl-stretch#{$bp}{ align-items: stretch; }

    .fl-center-center#{$bp}{ justify-content: center; align-items: center; }

    // Self Alignment
    .fl-self-start#{$bp}{ align-self: flex-start; }
    .fl-self-end#{$bp}{ align-self: flex-end; }
    .fl-self-center#{$bp}{ align-self: center; }
    .fl-self-baseline#{$bp}{ align-self: baseline; }
    .fl-self-stretch#{$bp}{ align-self: stretch; }

    // Self grow/shrink
    .fl-self-grow{ flex-grow: 1; }
    .fl-self-shrink{ flex-shrink: 1; }

    // Justify
    .fl-justify-start#{$bp}{ justify-content: start; }
    .fl-justify-end#{$bp}{ justify-content: end; }
    .fl-justify-center#{$bp}{ justify-content: center; }
    .fl-justify-between#{$bp}{ justify-content: space-between; }
    .fl-justify-around#{$bp}{ justify-content: space-around; }

    // Align content along the vertical axis (need to test how this is afffected by flex direction)
    .fl-content-start#{$bp}{ align-content: flex-start; }
    .fl-content-end#{$bp}{ align-content: flex-end; }
    .fl-content-center#{$bp}{ align-content: center; }
    .fl-content-between#{$bp}{ align-content: space-between; }
    .fl-content-around#{$bp}{ align-content: space-around; }
    .fl-content-stretch#{$bp}{ align-content: stretch; } 

    // Ordering
    .fl-order-0#{$bp}{ order: 0; }
    .fl-order-1#{$bp}{ order: 1; }
    .fl-order-2#{$bp}{ order: 2; }
    .fl-order-3#{$bp}{ order: 3; }
    .fl-order-4#{$bp}{ order: 4; }
    .fl-order-5#{$bp}{ order: 5; }
    .fl-order-6#{$bp}{ order: 6; }
    .fl-order-7#{$bp}{ order: 7; }
    .fl-order-8#{$bp}{ order: 8; }
    .fl-order-9#{$bp}{ order: 9; }
    .fl-order-10#{$bp}{ order: 10; }
    .fl-order-11#{$bp}{ order: 11; }
    .fl-order-12#{$bp}{ order: 12; }

    // First / Last ordering
    .fl-order-first#{$bp}{ order: 0; }
    .fl-order-last#{$bp}{ order: 999999; }

    // Flex Basis
    .fl-10#{$bp}{ flex-basis: 10%; max-width: 10%; }
    .fl-20#{$bp}{ flex-basis: 20%; max-width: 20%; }
    .fl-quarter#{$bp}{ flex-basis: 25%; max-width: 25%; }
    .fl-30#{$bp}{ flex-basis: 30%; max-width: 30%; }
    .fl-third#{$bp}{ flex-basis: 33.333333%; max-width: 33.333333%; }
    .fl-40#{$bp}{ flex-basis: 40%; max-width: 40%; }
    .fl-50#{$bp}{ flex-basis: 50%; max-width: 50%; }
    .fl-60#{$bp}{ flex-basis: 60%; max-width: 60%; }
    .fl-two-thirds#{$bp}{ flex-basis: 66.666666%; max-width: 66.666666%; }
    .fl-70#{$bp}{ flex-basis: 70%; max-width: 70%; }
    .fl-three-quarters#{$bp}{ flex-basis: 75%; max-width: 75%; }
    .fl-80#{$bp}{ flex-basis: 80%; max-width: 80%; }
    .fl-90#{$bp}{ flex-basis: 90%; max-width: 90%; }
    .fl-100#{$bp}{ flex-basis: 100%; max-width: 100%; }
}