////
// padding
// 
// Class prefix for padding = .m
// 
// - t = top
// - r = right
// - b = bottom
// - l = left
// - x = left and right
// - y = top and bottom
////

@mixin padding($bp: null){

    $p0: 0;
    $p1: 0.5rem;
    $p2: 1rem;
    $p3: 2rem;
    $p4: 3rem;
    $p5: 4rem;

    // Padding
    .p0#{$bp}{ padding: $p0; }
    .p1#{$bp}{ padding: $p1; }
    .p2#{$bp}{ padding: $p2; }
    .p3#{$bp}{ padding: $p3; }
    .p4#{$bp}{ padding: $p4; }
    .p5#{$bp}{ padding: $p5; }
    .pauto#{$bp}{ padding: 0 auto; }

    // Padding Top
    .pt0#{$bp}{ padding-top: $p0; }
    .pt1#{$bp}{ padding-top: $p1; }
    .pt2#{$bp}{ padding-top: $p2; }
    .pt3#{$bp}{ padding-top: $p3; }
    .pt4#{$bp}{ padding-top: $p4; }
    .pt5#{$bp}{ padding-top: $p5; }

    // Padding Right
    .pr0#{$bp}{ padding-right: $p0; }
    .pr1#{$bp}{ padding-right: $p1; }
    .pr2#{$bp}{ padding-right: $p2; }
    .pr3#{$bp}{ padding-right: $p3; }
    .pr4#{$bp}{ padding-right: $p4; }
    .pr5#{$bp}{ padding-right: $p5; }

    // Padding Bottom
    .pb0#{$bp}{ padding-bottom: $p0; }
    .pb1#{$bp}{ padding-bottom: $p1; }
    .pb2#{$bp}{ padding-bottom: $p2; }
    .pb3#{$bp}{ padding-bottom: $p3; }
    .pb4#{$bp}{ padding-bottom: $p4; }
    .pb5#{$bp}{ padding-bottom: $p5; }

    // padding Left
    .pl0#{$bp}{ padding-left: $p0; }
    .pl1#{$bp}{ padding-left: $p1; }
    .pl2#{$bp}{ padding-left: $p2; }
    .pl3#{$bp}{ padding-left: $p3; }
    .pl4#{$bp}{ padding-left: $p4; }
    .pl5#{$bp}{ padding-left: $p5; }

    // padding X (Left and Right)
    .px0#{$bp}{ padding-left: $p0; padding-right: $p0; }
    .px1#{$bp}{ padding-left: $p1; padding-right: $p1; }
    .px2#{$bp}{ padding-left: $p2; padding-right: $p2; }
    .px3#{$bp}{ padding-left: $p3; padding-right: $p3; }
    .px4#{$bp}{ padding-left: $p4; padding-right: $p4; }
    .px5#{$bp}{ padding-left: $p5; padding-right: $p5; }

    // Padding Y (Top and Bottom)
    .py0#{$bp}{ padding-top: $p0; padding-bottom: $p0; }
    .py1#{$bp}{ padding-top: $p1; padding-bottom: $p1; }
    .py2#{$bp}{ padding-top: $p2; padding-bottom: $p2; }
    .py3#{$bp}{ padding-top: $p3; padding-bottom: $p3; }
    .py4#{$bp}{ padding-top: $p4; padding-bottom: $p4; }
    .py5#{$bp}{ padding-top: $p5; padding-bottom: $p5; }
}